#parse("header.vm")

<table width="100%"><tr>
    <td width="80%">
        <select id="selectSubject" class="form-control">
            #foreach($selectableSubject in $selectableSubjects)
                <option value="$selectableSubject.id" #if($selectableSubject.id==$subject.id) selected="selected" #end>
                    $selectableSubject.name
                </option>
            #end
        </select>
    </td>
    <td width="10%"></td>
    <td width="10%">
        <span onclick="location.href='/$subject.id/form'" class="glyphicon glyphicon-cog" style="font-size: 2.2em"></span>
    </td>
</tr></table>
<br>

#set($weekAgo = $weekAgo + 2)
<a href="/$subject.id?weekAgo=$weekAgo" class="btn btn-default btn-sm btn-block">View previous weeks</a>

#set($cellHeight = 10)
#foreach($cell in $cells)
<div style="display: inline-block; width: 13%; border: 1px solid">
    #set($dateFormat="d")
    #if($foreach.index%7 == 0)
        #set($dateFormat="M / d")
        #if($cells.size()-$foreach.index<=7) #set($cellHeight = 30) #end
    #end
    <div>$datetool.format($dateFormat, $cell.date)</div>
    #foreach($slot in $cell.slots)
        #set($i=$foreach.index)
        <div id="${cell.day}_$i" onclick="toggle('${cell.day}', '$i')"
             class="text-right #if($slot) slot_color_$i #end"
             style="height: ${cellHeight}px"></div>
    #end
</div>
#end

<br>

<table class="table">
    <tr>
        <th>Goal</th>
        <th>Achieved week</th>
        <th>Max days</th>
        <th>Recent days</th>
    </tr>
    #foreach($goal in $subject.goals)
    <tr class="slot_color_$foreach.index">
        #set($analyzer=$goal.analyzer)
        <td>$goal.title</td>
        <td>$analyzer.achievedWeeks() / $analyzer.elapsedWeeks()</td>
        <td>$analyzer.maxContinuousDays()</td>
        <td>$analyzer.recentContinuousDays()</td>
    </tr>
    #end
</table>

<script type="text/javascript">
window.onload=function(){
    $('.slot_color_0').css('background-color', getSlotColor(0));
    $('.slot_color_1').css('background-color', getSlotColor(1));
    $('.slot_color_2').css('background-color', getSlotColor(2));
}

$("#selectSubject").change(function() {
    location = '/' + $('#selectSubject').val();
});

function toggle(day, slotNum) {
    var data = {subjectId: '$subject.id', day: day, slot: slotNum};
    $.post('/toggle', data, function(result) {
        var slotColor = 'white';
        if (result == true) slotColor = getSlotColor(slotNum);
        $('#' + day + '_' + slotNum).css('background-color', slotColor);
    });
}
</script>

#parse("footer.vm")

